/* earth  */
  .earth {
      /* width: clamp(250px, 30vw, 400px);
      height: clamp(250px, 30vw, 400px); */
      width: min(80vw, 400px);
      height: min(80vw, 400px);
    
      border-radius: 50%;
      background: transparent url(../image/earth.png);
      background-size: cover;
      box-shadow: inset 0px -20px 50px 10px #00ffff80,
                  0px 0px 30px 6px #00ffff70;
      transform: rotate(20deg);
      animation: rotate 15s linear infinite;
      overflow: hidden;
    }

    @keyframes rotate {
      0% { background-position: 0 0; }
      100% { background-position: 530px 0; }
    }

@media (max-width: 600px) {
  .earth {
    width: 70vw;
    height: 70vw;
    box-shadow:
      inset 0px -10px 30px 8px #00ffff80,
      0px 0px 20px 4px #00ffff70;
  }
}